h1
{
	color: deepskyblue;
}

.tel1
{
	background: rgba(229,26,76,0.4);
	color:#F8F3D4;
	position: absolute;
    padding: 10px;
    max-width: 150%;
    width: 70%;
    justify-content;
    font-size: 15.5px;
    border-radius: 10px;
}

.tel2
{
	background: rgba(229,26,76,0.4);
	color:#F8F3D4;
	position: absolute;
    padding: 10px;
    top: 50px;
    max-width: 150%;
    width: 70%;
    justify-content;
    font-size: 15.5px;
    border-radius: 10px;
}

/*ESTILOS DEL ARTICULO*/
	section
	{
	position:absolute;
	margin:auto;
	width:0px;
	height:0px;
	}

	article
	{
	position:absolute;
	left:10px;
	top:0px;
	width:300px;
	height:453px;
	}

	article h1
	{
	font-family: 'Kaushan Script', cursive;
	font-size:40px;
	margin:20px;
	}

	article p img
	{
		float:left;
		margin-right: 10px;
	}

	article p
	{
	margin:5px 20px;
	font-size:14px;
	text-align:justify;
	}